# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log

package-lock.json
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


# Dependencies
node_modules
/server/logs/
sites
tmp



.tmp



*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
dump.rdb

# System Files
.DS_Store
Thumbs.db

npm-debug.log
lib-cov
*.seed
*.log
*.out
*.pid
